; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[base]
platform = espressif32
framework = arduino
monitor_speed = 115200
build_flags = 
  -DJS_BAUD=115200
  -DJSSSID=ssid-here
  -DJSPASS=pass-here
  -DMS_DEMO1_LOOP=100

[ota]
upload_protocol = espota

[1]
build_flags =
	-DJS_ID=1
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=180
  ; Master
  -DMASTER=true

[1_ota]
upload_port = 192.168.1.180

[2]
build_flags = 
	-DJS_ID=2
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=181
  -DCNT_A=287
  -DCNT_B=378

[2_ota]
upload_port = 192.168.1.181

[3]
build_flags = 
	-DJS_ID=3
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=182
  -DCNT_A=150

[3_ota]
upload_port = 192.168.1.182

[4]
build_flags = 
	-DJS_ID=4
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=183
  -DCNT_A=409
  -DCNT_B=350

[4_ota]
upload_port = 192.168.1.183

[5]
build_flags = 
	-DJS_ID=5
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=184
  -DCNT_A=333

[5_ota]
upload_port = 192.168.1.184

[6]
build_flags = 
	-DJS_ID=6
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=185

[6_ota]
upload_port = 192.168.1.185

[7]
build_flags = 
	-DJS_ID=7
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=186

[7_ota]
upload_port = 192.168.1.186

[8]
build_flags = 
	-DJS_ID=8
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=187

[8_ota]
upload_port = 192.168.1.187

[9]
build_flags = 
	-DJS_ID=9
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=188

[9_ota]
upload_port = 192.168.1.188

[10]
build_flags = 
	-DJS_ID=10
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=189

[10_ota]
upload_port = 192.168.1.189

[11]
build_flags = 
	-DJS_ID=11
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=190

[11_ota]
upload_port = 192.168.1.190

[12]
build_flags = 
	-DJS_ID=12
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=191

[12_ota]
upload_port = 192.168.1.191

[wemos_d1_mini32]
board = wemos_d1_mini32
build_flags = 
	-DLED_PIN_A=16
	-DLED_PIN_B=17

[esp32_s3_devkitc_1]
board = esp32-s3-devkitc-1
build_flags = 
	-DLED_PIN_A=14
	-DLED_PIN_B=13

; **************************
; *                        *
; *          ENVs          *
; *                        *
; **************************

[env:wemos_d1_mini32_1_usb]
extends = base, wemos_d1_mini32, 1
build_flags = ${base.build_flags} ${1.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_1_ota]
extends = base, wemos_d1_mini32, 1, ota, 1_ota
build_flags = ${base.build_flags} ${1.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_2_usb]
extends = base, wemos_d1_mini32, 2
build_flags = ${base.build_flags} ${2.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_2_ota]
extends = base, wemos_d1_mini32, 2, ota, 2_ota
build_flags = ${base.build_flags} ${2.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_3_usb]
extends = base, wemos_d1_mini32, 3
build_flags = ${base.build_flags} ${3.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_3_ota]
extends = base, wemos_d1_mini32, 3, ota, 3_ota
build_flags = ${base.build_flags} ${3.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_4_usb]
extends = base, wemos_d1_mini32, 4
build_flags = ${base.build_flags} ${4.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_4_ota]
extends = base, wemos_d1_mini32, 4, ota, 4_ota
build_flags = ${base.build_flags} ${4.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_5_usb]
extends = base, wemos_d1_mini32, 5
build_flags = ${base.build_flags} ${5.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_5_ota]
extends = base, wemos_d1_mini32, 5, ota, 5_ota
build_flags = ${base.build_flags} ${5.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_6_usb]
extends = base, wemos_d1_mini32, 6
build_flags = ${base.build_flags} ${6.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_6_ota]
extends = base, wemos_d1_mini32, 6, ota, 6_ota
build_flags = ${base.build_flags} ${6.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_7_usb]
extends = base, wemos_d1_mini32, 7
build_flags = ${base.build_flags} ${7.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_7_ota]
extends = base, wemos_d1_mini32, 7, ota, 7_ota
build_flags = ${base.build_flags} ${7.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_8_usb]
extends = base, wemos_d1_mini32, 8
build_flags = ${base.build_flags} ${8.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_8_ota]
extends = base, wemos_d1_mini32, 8, ota, 8_ota
build_flags = ${base.build_flags} ${8.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_9_usb]
extends = base, wemos_d1_mini32, 9
build_flags = ${base.build_flags} ${9.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_9_ota]
extends = base, wemos_d1_mini32, 9, ota, 9_ota
build_flags = ${base.build_flags} ${9.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_10_usb]
extends = base, wemos_d1_mini32, 10
build_flags = ${base.build_flags} ${10.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_10_ota]
extends = base, wemos_d1_mini32, 10, ota, 10_ota
build_flags = ${base.build_flags} ${10.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_11_usb]
extends = base, wemos_d1_mini32, 11
build_flags = ${base.build_flags} ${11.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_11_ota]
extends = base, wemos_d1_mini32, 11, ota, 11_ota
build_flags = ${base.build_flags} ${11.build_flags} ${wemos_d1_mini32.build_flags}

[env:esp32_s3_devkitc_1_12_usb]
extends = base, esp32_s3_devkitc_1, 12
build_flags = ${base.build_flags} ${12.build_flags} ${esp32_s3_devkitc_1.build_flags}

[env:esp32_s3_devkitc_1_12_ota]
extends = base, esp32_s3_devkitc_1, 12, ota, 12_ota
build_flags = ${base.build_flags} ${12.build_flags} ${esp32_s3_devkitc_1.build_flags}


