; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[base]
platform = espressif32
framework = arduino
monitor_speed = 115200
lib_deps = 
  fastled/FastLED@^3.5.0 
  https://github.com/me-no-dev/ESPAsyncWebServer.git
  ayushsharma82/WebSerial@^1.3.0
build_flags = 
  ; Wifi
	'-DJSSSID="ssid-here"' ; Your SSID here
	'-DJSPASS="pass-here"' ; Your password here
	-DGATEWAY_A=192
	-DGATEWAY_B=168
	-DGATEWAY_C=1
	-DGATEWAY_D=254
	-DSUBNET_A=255
	-DSUBNET_B=255
	-DSUBNET_C=255
	-DSUBNET_D=0
  -DPRINT_WIFI_SCAN_RESULTS=false
  '-DDEVICE_PREFIX="JS"'
  '-DDEVICE_AP_PASS="123456789"'
  -DJS_BAUD=115200
  -DINITIAL_STATE=STATE_IDLE
  ; ESP Now
	-DESPNOW_CHANNEL=0
	-DSLAVE_CNT=4
  -DDEFAULT_RETRIES=2
  ; Delay
  -DDELAY_MASTER_LOOP=1000
  -DDELAY_MASTER_SLAVE_CONNECT=100
  -DDELAY_MASTER_SLAVE_SEND=100
  -DDELAY_PREPARE_WIFI=500
  -DDELAY_OTA_SWITCH=3000
  -DDELAY_MASTER_HANDSHAKE_LOOP=100
  ; Lights
	-DLED_CNT_BACK=287
	-DLED_CNT_PATIO=378
	-DLED_CNT_KITCHEN=150
	-DLED_CNT_GARAGE_A=409
	-DLED_CNT_GARAGE_B=350
	-DLED_CNT_FRONT=330

[ota]
upload_protocol = espota

[1]
build_flags =
	-DJS_ID=1
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=180
  ; Master
  -DMASTER=true

[1_ota]
upload_port = 192.168.1.180

[2]
build_flags = 
	-DJS_ID=2
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=181

[2_ota]
upload_port = 192.168.1.181

[3]
build_flags = 
	-DJS_ID=3
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=182

[3_ota]
upload_port = 192.168.1.182

[4]
build_flags = 
	-DJS_ID=4
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=183

[4_ota]
upload_port = 192.168.1.183

[5]
build_flags = 
	-DJS_ID=5
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=184

[5_ota]
upload_port = 192.168.1.184

[6]
build_flags = 
	-DJS_ID=6
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=185

[6_ota]
upload_port = 192.168.1.185

[7]
build_flags = 
	-DJS_ID=7
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=186

[7_ota]
upload_port = 192.168.1.186

[8]
build_flags = 
	-DJS_ID=8
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=187

[8_ota]
upload_port = 192.168.1.187

[9]
build_flags = 
	-DJS_ID=9
	-DJS_IP_A=192
	-DJS_IP_B=168
	-DJS_IP_C=1
	-DJS_IP_D=188

[9_ota]
upload_port = 192.168.1.188

[wemos_d1_mini32]
board = wemos_d1_mini32
build_flags = 
	-DLED_PIN_A=16
	-DLED_PIN_B=17

; **************************
; *                        *
; *          ENVs          *
; *                        *
; **************************

[env:wemos_d1_mini32_1_usb]
extends = base, wemos_d1_mini32, 1
build_flags = ${base.build_flags} ${1.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_1_ota]
extends = base, wemos_d1_mini32, 1, ota, 1_ota
build_flags = ${base.build_flags} ${1.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_2_usb]
extends = base, wemos_d1_mini32, 2
build_flags = ${base.build_flags} ${2.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_2_ota]
extends = base, wemos_d1_mini32, 2, ota, 2_ota
build_flags = ${base.build_flags} ${2.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_3_usb]
extends = base, wemos_d1_mini32, 3
build_flags = ${base.build_flags} ${3.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_3_ota]
extends = base, wemos_d1_mini32, 3, ota, 3_ota
build_flags = ${base.build_flags} ${3.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_4_usb]
extends = base, wemos_d1_mini32, 4
build_flags = ${base.build_flags} ${4.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_4_ota]
extends = base, wemos_d1_mini32, 4, ota, 4_ota
build_flags = ${base.build_flags} ${4.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_5_usb]
extends = base, wemos_d1_mini32, 5
build_flags = ${base.build_flags} ${5.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_5_ota]
extends = base, wemos_d1_mini32, 5, ota, 5_ota
build_flags = ${base.build_flags} ${5.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_6_usb]
extends = base, wemos_d1_mini32, 6
build_flags = ${base.build_flags} ${6.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_6_ota]
extends = base, wemos_d1_mini32, 6, ota, 6_ota
build_flags = ${base.build_flags} ${6.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_7_usb]
extends = base, wemos_d1_mini32, 7
build_flags = ${base.build_flags} ${7.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_7_ota]
extends = base, wemos_d1_mini32, 7, ota, 7_ota
build_flags = ${base.build_flags} ${7.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_8_usb]
extends = base, wemos_d1_mini32, 8
build_flags = ${base.build_flags} ${8.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_8_ota]
extends = base, wemos_d1_mini32, 8, ota, 8_ota
build_flags = ${base.build_flags} ${8.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_9_usb]
extends = base, wemos_d1_mini32, 9
build_flags = ${base.build_flags} ${9.build_flags} ${wemos_d1_mini32.build_flags}

[env:wemos_d1_mini32_9_ota]
extends = base, wemos_d1_mini32, 9, ota, 9_ota
build_flags = ${base.build_flags} ${9.build_flags} ${wemos_d1_mini32.build_flags}
